
<div class="intro" > 
    <div class="scroll-indicator">
        <h6>scroll</h6>
    </div>
    <video src="assets/video/coder-portrait-3sec.mp4"></video>

    <div class="top-1">
        <h1>LUIS  V.</h1>
        <h1 class="top-2">ROSALES</h1>
    </div>
</div>

<div class="outer-wrapper">
    <div class="wrapper">
        <div class="slide">
            <section>
                <h1>FRONT-END / MOBILE </h1>
            </section>
        </div>
<!--  <div class="nav-vertical">
            <nav>
                <ul class="menuItems">
                <li><a href='#' data-item='About'>About</a></li>
                <li><a href='#' data-item='Projects'>Projects</a></li>
                <li><a href='#' data-item='Contact'>Contact</a></li>
                </ul>
            </nav>  
        </div> -->
        <div class="slide">
            <section>
                <h1>DEVELOPER & DESIGNER</h1>
            </section>
        </div>
    </div>
</div>


<div >
    <nav>
        <div class="txt-to-right">
            <ul class="menu-item">
            <li><a href='#' data-item='About'>About</a></li>
            <li><a href='#' data-item='Projects'>Projects</a></li>
            <li><a href='#' data-item='Contact'>Contact</a></li>
            </ul>
        </div>
    </nav>  
</div>