
<div class="intro" >
    <video src="assets/video/coder-portrait-3sec.mp4"></video>

    <div class="vertical">
        <h1>LUIS  V. ROSALES</h1>
    </div>
</div>


<div class="outer-wrapper">
    <div class="wrapper">
        <div class="slide">
            <section>
                <h1>FRONT-END / MOBILE </h1>
            </section>
        </div>

        <div class="nav-vertical">
            <nav>
                <ul class="menuItems">
                <li><a href='#' data-item='Home'>Home</a></li>
                <li><a href='#' data-item='About'>About</a></li>
                <li><a href='#' data-item='Projects'>Projects</a></li>
                <li><a href='#' data-item='Contact'>Contact</a></li>
                </ul>
            </nav>  
        </div>

        <div class="slide">
            <section>
                <h1>DEVELOPER & DESIGNER</h1>
            </section>
        </div>
    </div>

</div>
<!-- <div class="down">
    <section  class="appear">
        <nav>
            <ul class="menuItems">
            <li><a href='#' data-item='Home'>Home</a></li>
            <li><a href='#' data-item='About'>About</a></li>
            <li><a href='#' data-item='Projects'>Projects</a></li>
            <li><a href='#' data-item='Contact'>Contact</a></li>
            </ul>
        </nav>             
    </section>
</div> -->


