
.intro{
    height: 100vh;
}

.intro video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.intro h1{

    // color: black;
    // text-shadow: 3px 4px 7px rgba(185,185,185,0.8);
    // font-weight: 100;
    // font-size: 3rem;

    color: red;
    font-weight: bold;
    font-size: 16rem;
    text-align: end;
}

.vertical{
    position: absolute;
    top: 10%;
    left: 5%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}


section h1{
    color: black;
    padding-top: 300px;
    text-align: center;
    font-size: 5rem;
    text-shadow: 3px 4px 7px rgba(185,185,185,0.8);
    font-weight: 100;
}

.slide {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 200vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar{
    display: none;
}


////TEST MENU LKY/////

nav {
background: #f9f9f9;

    .menuItems {
        list-style: none;
        display: flex;

        li {
        margin: 50px;

        a {
            text-decoration: none;
            color: #8f8f8f;
            font-size: 24px;
            font-weight: 400;
            transition: all 0.5s ease-in-out;
            position: relative;
            text-transform: uppercase;

            &::before {
            content: attr(data-item);
            transition: 0.5s;
            color: red;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
            }

            &:hover {
            &::before {
                width: 100%;
                transition: all 0.5s ease-in-out;
            }
            }
        }
        }
    }
}

.nav-vertical{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    height: 100vh;

}

//////////////////////
